<div class="drag-drop-container" id="sourceContainer" #sourceContainer>
  <div class="drag-item" draggable="true">
    <img src="assets/lifetime.jpg" alt="" width="70" height="70" />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
  <div class="drag-item" draggable="true">
    <img src="assets/self-supporting.jpg" alt="" width="70" height="70" />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
  <div class="drag-item" draggable="true">
    <img
      src="assets/the-architect-Erik-Johansson.jpg"
      alt=""
      width="70"
      height="70"
    />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
  <div class="drag-item" draggable="true">
    <img
      src="assets/TheLightKeeper_ErikJohansson.jpg"
      alt=""
      width="70"
      height="70"
    />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
  <div class="drag-item" draggable="true">
    <img src="assets/xNmhCasJuW4.jpg" alt="" width="70" height="70" />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
  <div class="drag-item" draggable="true">
    <img src="assets/344296348_n.jpg" alt="" width="70" height="70" />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
  <div class="drag-item" draggable="true">
    <img src="assets/68754961_n.jpg" alt="" width="70" height="70" />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
  <div class="drag-item" draggable="true">
    <img src="assets/30859551_n.jpg" alt="" width="70" height="70" />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
  <div class="drag-item" draggable="true">
    <img src="assets/9544267_n.jpg" alt="" width="70" height="70" />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
  <div class="drag-item" draggable="true">
    <img src="assets/1486871_n.jpg" alt="" width="70" height="70" />
    <div class="description">
      <p>some awesome description</p>
    </div>
  </div>
</div>
<div class="target-drop-container" id="targetContainer" #targetContainer></div>
