<header>
  <nav>
    <!-- <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >drag directive attached to host</a
    >
    <a
      routerLink="element-attached"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >drag directive attached to element</a
    > -->
    <a
      routerLink="native-dnd-api"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >native drag n drop</a
    >
    <a
      routerLink="ag-grid"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >ag-grid tutorial</a
    >
  </nav>
</header>

<router-outlet></router-outlet>
